.page_body {
    background-color: #ffffff;
    font-family: 'Rajdhani', sans-serif;
    display: block;
    margin: auto;
    max-width: 1200px;
}

.page_main {
    height: 1750px;
    padding: 0;
    margin: 0;
}
.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #778899;
    text-align: center;
}

.menu li {
    display: inline;
    padding: auto;
}

.menu a {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 10px 40px;
    margin: 20px 30px 20px 0px;
    font: 20px 'Rajdhani', sans-serif;
    color: #ffffff;
    background-color: #005279;
    box-shadow: 5px 5px 10px rgb(8, 7, 7);
}

.menu a:hover {
    color: #fff156;
}

.left_column {
    width: 40%;
    height: 100%;
    display: block;
    float: left;
    background-color: #005279;
    color: #ffffff;
}

.avatar {
    width: 100%;
    height: auto;
}

.left_section_title {
    font-size: 40px;
    padding-left: 40px;
    padding-top: 30px;
    margin: 0px;
}

.contacts ul, .location ul, .education ul {
    list-style-type: none;
}

.contacts li, .location li, .education li {
    font-size: 30px;
    padding: 0;
}

.contacts img, .location img {
    width: 40px;
    padding-right: 20px;
    vertical-align: middle;
}

.education img {
    width: 40px;
    padding-right: 20px;
}

.education a {
    color: #ffffff;
}

.education a:hover {
    color: #fff156;
}

.education p {
    padding-left: 60px;
    margin: 0;
}

.right_column {
    width: 60%;
    height: 100%;
    color: #005279;;
    background-color: #e6eaef;
    display: block;
    float: right;
}

.cv_title {
    padding: 0;
    margin: 50px auto 55px 40px;
}

.cv_title h1 {
    font-size: 90px;
    padding: 0;
    margin: 0;
}

.cv_title h2 {
    font-size: 30px;
    padding: 0;
    margin: 0;
}

.cv_title h3 {
    font-size: 40px;
}

.cv_title p {
    font-size: 30px;
    padding: 0;
    margin-right: 30px;
}

.right_section_title {
    font-size: 40px;
    padding-left: 40px;
    margin: 0px;
    border-left: 20px solid #fff156;
    background-color: #a3adad;
}

.strenghts ul, .languages ul, .it_skills ul, .projects ul, .courses ul {
    list-style-type: square;
    font-size: 30px;
    padding-left: 60px;
}

.languages a, .courses a {
    color: #005279;
}

.languages a:hover, .courses a:hover {
    color: #fff156;
}

@keyframes color-change {
    0% {
      color: #005279;
    }
    50% {
      color: #e6eaef;
    }
    100% {
      color: #005279;
    }
}

.projects span {
    animation: color-change 2s infinite;
}

.page_footer {
    padding: 0;
    margin: 0;
    background-color: #778899;
}

.page_footer ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
}

.page_footer li {
    display: inline;
    padding: 0;
    margin: auto 75px auto 75px;
    font-size: 30px;
    color: #fff156;
}

.page_footer img {
    height: 80px;
    padding: 0;
    margin: 20px 5px;
    vertical-align: middle;
}

.page_footer a {
    color: #ffffff;
}

.page_footer a:hover {
    color: #fff156;
}

.page_footer span {
    font-size: 40px;
}